<div class="p-4">
  <h1 class="text-2xl font-bold mb-4">Bem-vindo ao Semeador</h1>

  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-6 rounded">
    <p class="italic"><%= @verse %></p>
  </div>

  <div class="mt-8">
    <h2 class="text-xl font-bold mb-2">Resumo Financeiro</h2>
    <%= line_chart @chart_data, height: "300px", colors: ["#10B981"], library: { title: { text: "Fluxo de Caixa Diário", style: { fontSize: '18px' } } } %>
  </div>

  <h2 class="text-xl font-semibold mb-2">Resumo</h2>
  <p class="text-lg font-bold">Saldo atual: R$ <%= number_to_currency(@balance, unit: "") %></p>

  <h3 class="mt-6 text-lg font-semibold">Últimas transações</h3>
  <ul class="mt-2 space-y-1">
    <% @transactions.each do |t| %>
      <li>
        <strong><%= t.title %></strong> - <%= t.category.name %> - <%= t.date.strftime("%d/%m/%Y") %> - R$ <%= number_to_currency(t.amount, unit: "") %>
      </li>
    <% end %>
  </ul>
</div>
